* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(47, 88%, 63%);
    font-family: Figtree;
}

.parent {
    width: 288px;
    height: 390px;
    background-color: hsl(0, 0%, 100%);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 17px;
    padding: 17px;
    box-shadow: 6px 6px black;
}

.img1 {
    width: 252px;
    height: auto;
    border-radius: 8px;
}

button {
    border: none;
    background-color: hsl(47, 88%, 63%);
    padding: 5px 8px;
    width: 60px;
    font-size: 10px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

.p1 {
    font-size: 10.5px;
    color: hsl(0, 0%, 7%);
    font-weight: 600;
}

.div1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 500;
}

h1 {
    font-size: 18px;
    font-weight: 800;
}

.p2 {
    color: hsl(0, 0%, 42%);
    font-size: 12px;
    line-height: 1.5;
}

.div2 {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.div3 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.img2 {
    width: 24px;
}

.p3 {
    font-size: 11px;
    font-weight: 800;
}