/* 1) შექმენით სამი მშბელი დივი(სიგანე 500px სიმაღლე 500px ბორდერი წითელი),სამივე დივში ჩასვით სამ სამი შვილი
ელემენტები(სიგანე 100 სიმაღლემ 100 ფონის ფერი ლურჯი)

პირველ დივში ელემენტები განალაგე დივის ქვედა ნაწილში და x ღერძზექონდეს დაშორება ყველგან ერთნაირი(როგორც ელემენტებს შორის
ასევე გარე ელემენტსა და მშობელს შორისაც)

მეორე დივში ელემენტები განალაგე y ზე ცენტრში და x ზე ისე რომ გარე ელემენტები მიეკრნონ მშობელ ელემენტს

მესამე დივში ელემენტები y ზე განალაგე ზემოთ მხარეს და x ზე ისე რომ შვილებს შორის რა დაშორებაც გვაქვს მაგ დაშორებუს
ნახევარი იყოს გარე ელემენტებსა და მშობელ ელემენტს შორის */


body {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.parent {
    width: 500px;
    height: 500px;
    border: 5px solid rgb(106, 17, 17);
    display: flex;
    gap: 20px;
    align-items: end;
    justify-content: space-evenly;
}

.parent div {
    height: 100px;
    width: 100px;
    background-color: rgb(50, 87, 155);
}


/* ------------------------------------------------------------------------------------------------ */


.parent2 {
    width: 500px;
    height: 500px;
    border: 5px solid rgb(106, 17, 17);
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.parent2 div {
    height: 100px;
    width: 100px;
    background-color: rgb(50, 87, 155);
}


/* ------------------------------------------------------------------------------------------------ */


.parent3 {
    width: 500px;
    height: 500px;
    border: 5px solid rgb(106, 17, 17);
    display: flex;
    gap: 20px;
    align-items: start;
    justify-content: space-around;
}

.parent3 div {
    height: 100px;
    width: 100px;
    background-color: rgb(50, 87, 155);
}