/* 5)შექმენი დიდი კონტეინერი position: relative;-ით.
შიგნით განათავსე 4 პატარა ბლოკი absolute პოზიციებით:
ზედა მარცხენა
ზედა მარჯვენა
ქვედა მარცხენა
ქვედა მარჯვენა */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.parent {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: rgb(0, 0, 0);
}

.topleft,
.topright,
.bottomleft,
.bottomright {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: rgb(0, 217, 255);
}

.topleft {
    top: 0;
    left: 0;
}

.topright {
    top: 0;
    right: 0;
}

.bottomleft {
    bottom: 0;
    left: 0;
}

.bottomright {
    bottom: 0;
    right: 0;
}