/* 2)შექმენი ბარათი (card div), სადაც სურათის კუთხეში გამოჩნდება "SALE" ტექსტი.
გამოიყენე: */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: rgb(238, 224, 202);
    height: 200px;
    width: 300px;
    display: flex;
    position: relative;
    border-radius: 8px;
}

p {
    color: rgba(0, 0, 0, 0.7);
    font-size: 30px;
    font-weight: 600;
    position: absolute;
    top: 40%;
    left: 35%;
}