/* 1) შექმენი div 400px x 400px წითელი, რომელსაც ექნება position: relative;.
შიგნით ჩასვი პატარა ლურჯი კვადრატი position: absolute;-ით და მოათავსე:
ზედა მარჯვენა კუთხეში
ზომა: 50x50px */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.red {
    width: 400px;
    height: 400px;
    background-color: rgb(102, 20, 20);
    position: relative;
    display: flex;
}

.blue {
    width: 50px;
    height: 50px;
    background-color: rgb(53, 164, 255);
    position: absolute;
    right: 0;
    top: 0;
}