/* 3)შექმენი ვებსაიტზე  ნავიგაციის მენიუ position: fixed; გამოყენებით ისე, რომ სქროლვის დროს ყოველთვის ზედა ნაწილში დარჩეს. */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

nav {
    background-color: rgb(143, 178, 184);
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
}


ul {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 15px;
}

li {
    font-size: 25px;
    font-weight: 700;
}

p {
    font-size: 50px;
}