/* 10)10. Magic Box

შექმენი კვადრატი, რომელიც:

თავიდან არის 100×100px.
ბოლოში ხდება 200×200px.
ფერი იცვლება მწვანედან იისფერზე.
ბრუნდება rotate(360deg).
ხანგრძლივობა: 2s.
იწყება 1 წამის შემდეგ.
სრულდება და რჩება ბოლო მდგომარეობაში. */


div {
    background-color: rgb(49, 222, 87);
    width: 100px;
    height: 100px;
    animation-name: move;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}


@keyframes move {
    from {
        background-color: rgb(49, 222, 87);
        width: 100px;
        height: 100px;
    }

    to {
        background-color: rgb(82, 37, 114);
        transform: rotate(360deg);
    }
}