/* 8)შექმენი div:

საწყისი სიგანე: 0px
საბოლოო სიგანე: 400px
ხანგრძლივობა: 5s
ანიმაცია დაიწყოს 1 წამის შემდეგ.
დასრულების შემდეგ სიგანე აღარ შეიცვალოს. */


div {
    width: 0px;
    height: 100px;
    background-color: black;
    animation-name: move;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes move {
    from {
        width: 0px;
        height: 100px;
        background-color: black;
    }

    to {
        width: 400px;
    }
}