/* 1). მოძრავი კვადრატი

შექმენი 100x100px კვადრატი.

თავიდან იყოს მარცხნივ.
ანიმაციის ბოლოს გადავიდეს 500px-ით მარჯვნივ.
ხანგრძლივობა: 3s
iteration-count: infinite
timing-function: linear */


div {
    width: 100px;
    height: 100px;
    background-color: black;
    animation-name: move;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(500px);
    }
}