input {
    font-size: 14px;
    width: 270px;
    height: 40px;
    outline: none;
    border: none;
    font-family: sans-serif;
    margin-left: 60px;
    background-color: rgb(232, 231, 231);
    border-radius: 3px;
}

h2 {
    font-size: 30px;
    font-family: sans-serif;
    font-weight: lighter;
    margin-left: 145px;
    margin-top: 40px;
    margin-bottom: 40px;
}

button {
    background-color: rgb(103, 200, 91);
    color: rgb(255, 255, 255);
    width: 275px;
    height: 40px;
    margin-left: 60px;
    border: none;
    margin-top: 15px;
    border-radius: 3px;
    font-size: 15px;
    font-family: sans-serif;
}