* {
    font-family: sans-serif;
}

body {
    text-align: center;
    background: radial-gradient(circle, rgb(53, 26, 64), #000000);
    color: white;
}


h1 {
    font-size: 60px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 3px 3px 10px rgba(224, 98, 255, 0.8);
    text-align: center;
    transition: 0.3s;
    text-decoration: overline wavy rgb(142, 93, 169);
}


h1:hover {
    transform: scale(1.05);
    color: #a855f7;
}


input[type="text"],
input[type="email"],
input[type="password"] {
    font-size: 20px;
    background-color: #000000;
    color: white;
    border: 1px solid rgb(197, 184, 225);
    border-radius: 4px;
    height: 30px;
    width: 300px;
    margin-bottom: 30px;
}



input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    background-color: purple;
    transform: scale(1.05);
}

button {
    background-color: #8B2F97;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.5s;
    box-shadow: 0 0 10px rgb(123, 0, 217);
    padding: 12px 24px;
    margin-bottom: 30px;
}

button:hover {
    background: #F5A623;
    color: #2C1E3A;
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
}

form {
    margin: 30px auto;
    padding: 20px;
    width: 300px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 15px purple;
}

a {
    color: hsl(271, 100%, 95%);
    text-decoration: overline dashed rgb(202, 114, 202);
}