/* 1) შექმენი სარეგისტრაციო ფორმა

სადაც მომ ხმარებელი შეიუვანს სახელს ემაილს და მის პაროლს

გამოიყენეთ placeholder ,label არ არის საჭირო

თითიეული input ის სტილები -- მოაშორეთ outline , უკანა ფონის ფერი იყოს მწვანე , border ქონდეს წითელი , ტექსტის ფერი
ქონდეს ლურჯი , მოუმრგვალეთ კუთხეები 10px ით, შეუცვალეთ კალიგრაფია, გახადეთ მუქი

input თეგებს რომ დააკლიკბთ მიიღონ მათ შემდეგი სტილები -- ფონის ფერი გახდეს შავიო , ტექსტის ფერი თეთრი , ბორდერი საერთოდ
მოშორდეს , მოუმსრგვალდეს კუთხეები 10 px ით ,და გახდეს მუქის ნაცვლად თხელი ტექსტი */


input {
    outline: none;
    background-color: rgb(111, 144, 62);
    border: 2px solid rgb(102, 19, 19);
    color: rgb(31, 105, 196);
    border-radius: 10px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 30px;
}

input:focus {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    font-weight: lighter;
}