/* 1) შექმენით 2 დივი, შიგნით ორივეში გქონდეთ 2 სათაური და 2 პარაგრაფი, პირველი დივის ელემენტებს მიანიჭეთ 38px ზომა, ფერი
ლურჯი, ფონის ფერი მწვანე, ზღვარი 3px ზომის, წითელი და solid, მეორე დივის ელემენტებს მიანიჭეთ 46px ზომა, ფერი
იასამნისფერი, ფონის ფერი ყავისფერი, ზღვარი 7px ზომის, ყვითელი და solid. გამოიყენეთ style inheritance და External CSS. */

.div1 {
    font-size: 38px;
    color: blue;
    background-color: green;
    border: 3px solid red;
}

.div2 {
    font-size: 46px;
    color: purple;
    background-color: brown;
    border: 7px solid yellow;
}

.div2 b {
    font-size: 46px;
    color: rgb(182, 7, 182);
    background-color: rgb(96, 56, 21);
    border: 7px solid rgb(255, 255, 173);
}

.div2 i {
    font-size: 46px;
    color: rgb(85, 19, 85);
    background-color: rgb(100, 66, 37);
    border: 7px solid rgb(237, 237, 76);
}

