/* 3) შექმენით 1 დივი, შიგნით გქონდეთ 3 სათაური და 3 პარაგრაფი, ამ ელემენტებიდან 2-2 სათაურს და პარაგრაფებს მიანიჭეთ 57px
ზომა, ფერი ყვითელი, ფონის ფერი ნარინჯისფერი, ზღვარი 5px ზომის, მწვანე და solid External CSS-ით და style inheritance-ით,
ხოლო დარჩენილი 1 სათაური და 1 პარაგრაფი გასტილეთ Inline CSS-ით, მიანიჭეთ 20px ზომა, ფერი ვარდისფერი, ფონის ფერი წითელი,
ზღვარი 2px ზომის, ყვითელი და solid. */

div h1, 
div h2, 
div p {
    font-size: 57px;
    color: yellow;
    background-color: orange;
    border: 5px solid green;
}