/* 4) შექმენით 2 დივი, შიგნით ორივეში შექმენით ერთ-ერთი ცხრილი, პირველი ცხრილის ელემენტებს მიანიჭეთ 15px ზომა, ფერი ლურჯი,
ფონის ფერი მწვანე, იყოს ცენტრში, მეორე ცხრილის ელემენტებს კი მიანიჭეთ 18px ზომა, ფერი მწვანე, ფონის ფერი წითელი, იყოს
ცენტრში, და ძღვარი გაუწერეთ მთლიან ცხრილს. გამოიყენეთ style inheritance და External CSS. */

div table, 
div tr,
div td, 
div th {
    size: 15px;
    color: rgb(25, 25, 169);
    background-color: rgb(15, 109, 15);
    text-align: center;
    border: 2px solid rgb(12, 26, 84);
}

table, tr, td, th{
    font-size: 18px;
    color: rgb(18, 163, 18);
    background-color: rgb(131, 15, 15);
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
}