/* 2) შექმენით 2 დივი, შიგნით ორივეში გქონდეთ ერთ-ერთი დალაგებული სია - ol პროგრამირების ენებზე, პირველი დივის სიის
ელემენტებს მიანიჭეთ 27px ზომა, ფერი ყვითელი, ფონის ფერი ვარდისფერი, ზღვარი 5px ზომის, შავი და solid, მეორე დივის სიის
ელემენტებს მიანიჭეთ 36px ზომა, ფერი მწვანე, ფონის ფერი წითელი, ზღვარი 8px ზომის, ყავისფერი და solid. გამოიყენეთ style
inheritance და External CSS. */

.div1 {
    font-size: 27px;
    color: yellow;
    background-color: pink;
    border: 5px solid black;
}

.div2 {
    font-size: 36px;
    color: green;
    background-color: red;
    border: 8px solid brown;
}