/* 5) შექმენით multi-page ვებსაიტი თქვენს საყვარელ პროგრამირების ენაზე, გამოიყენეთ რაც შეიძლება მეტი თეგები და ატრიბუტები
გავლილი მასალიდან, გასტილეთ ყველაფერი მხოლოდ External CSS-ით, ასევე ხანდახან გამოიყენეთ style inheritance, და მხოლოდ თუ
აუცილებლად დაგჭირდებათ ელემენტების გასასტილად ხანდახან გამოიყენეთ Inline CSS. */


div {
    color: darkblue;
    font-size: 20px;
}

section {
    background-color: white;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}

a {
    text-decoration: none;
    color: green;
}

a:hover {
    color: red;
}
