/* 5) შექმენით დივი რომელშიც მოთავსებული გექნებათ ღილაკი, და ეს ღილაკი გასტილეთ id-ით, კლასით, Style Inheritance-ით და
Inline CSS-ით. ყველა სტილების მნიშვნელობები იყოს ერთმანეთისგან განსხვავებული. */

.div button {
    color: rgb(212, 141, 212);
    text-align: center;
}

#but {
    background-color: rgb(250, 244, 237);
    font-size: 35px;
}
