/* 7) შექმენით დივი რომელშიც მოთავსებული იქნება 2 განსხვავებული დივი - პირველ დივში ეწეროს დალაგებული სია პინგვინების
სახეობებზე და მეორე დივში ეწეროს დაულაგებელი სია ამ პინგვინების რაოდენობაზე. ორივე დივი გასტილეთ ყველა ნასწავლი მეთოდით,
id-ით, კლასებით, Style Inheritance-ით, ელემენტის სელექტორით, Inline CSS-ით. */

div {
    text-align: center;
}

#maindiv {
    color: rgb(104, 246, 246);
}

.list li {
    background-color: rgb(245, 237, 231);
    color: rgb(153, 76, 224);
    border: 2px solid rgb(0, 0, 0);
    font-size: 20px;
}