/* 6) შექმენით დივი რომელშიც მოთავსებული გექნებათ 2 პარაგრაფი და 2 სათაური, და ეს 2 პარაგრაფი და 2 სათაური გასტილეთ id-ით,
კლასით, Style Inheritance-ით, ელემენტის სელექტორით, Inline CSS-ით. ყველა სტილების მნიშვნელობები იყოს ერთმანეთისგან
განსხვავებული. */

.div p {
    color: pink;
}

#h {
    background-color: purple;
}

p {
    text-align: left;
}