/* 1) შექმენი ერთი დივი რომელშიც მოთავსებული გექნებათ სათაური და პარაგრაფი და დივს მიანიჭეთ ერთი კლასი და ერთი id. კლასს
მიანიჭეთ ფერი, უკანა ფონის ფერი, ზომა, ზღვარი და დააყენეთ ცენტრში, ხოლო id-ის მიანიჭეთ განსხვავებული ფერი და
განსხვავებული უკანა ფონის ფერი. (დღევანდელ ყველა დავალებაში გამოიყენეთ ან RGB ან HEX ფერებისთვის.) */


.div {
    color: rgb(40, 137, 105);
    background-color: rgb(255, 255, 255);
    font-size: 30px;
    border: 3px solid rgb(43, 75, 83);
    text-align: center;
}

#d {
    color: rgb(123, 54, 186);
    background-color: rgb(239, 210, 47);
}