/* 3) შექმენი ერთი დივი რომელშიც მოთავსებული იქნება ერთი პარაგრაფი. ამ დივს გაუწერეთ კლასი და პარაგრაფსაც გაუწერეთ კლასი,
მიანიჭეთ განსხვავებული სტილები, დააკვირდით შედეგს. */


.div {
    color: rgb(255, 0, 0);
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    border: 2px dashed rgb(45, 207, 0);
    text-align: center;
}

.p {
    color: rgb(0, 55, 158);
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    border: 2px dashed rgb(186, 8, 8);
    text-align: center;
}