/* 4) შექმენით დალაგებული სია ქვეყნებზე, და გასტილეთ list-style-type: upper-alpha; კუთვნილებით. თითოეული ქვეყნის ქვეშ
ჩაამატეთ დაულაგებელი სია ქალაქებისთვის და გასტილეთ list-style-type: square; კუთვნილებით. თქვენს სიებს გაუწერეთ ფერი,
უკანა ფონის ფერი, ზღვარი, ტექსტის სისქე, ტექსტის ზომა, font-family და text-decoration კუთვნილებები. */

ol li {
    list-style-type: upper-alpha;
    color: rgb(37, 87, 37);
    background-color: rgb(97, 168, 96);
    border: 4px solid rgb(22, 55, 21);
    font-size: 30px;
    font-family: serif;
    text-decoration: none;
    font-weight: 500;

}


ul li {
    list-style-type: square;
    color: rgb(98, 163, 97);
    background-color: rgb(22, 55, 21);
    border: 2px dashed rgb(226, 241, 210);
    font-size: 22px;
    font-family: sans-serif;
    text-decoration: overline dashed white;
    font-weight: 300;
}