table {
    border-collapse: collapse;
    margin: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    
}

table th,
table td {
    border: 1px solid black;
    padding: 15px;
}

table th {
    background-color: green;
}

table tr:nth-child(odd) {
    background-color: #26a6c1;
}

