table {
    border-collapse: collapse;
    margin: 20px;
    text-align: center;
    font-family: Sans-serif;
}

table th {
    background-color: #333;
    color: white;
    padding: 10px;
}

table td {
    padding: 10px;
    color: white;
}

table tr:nth-child(1) {
    background-color: #2196F3;
}

table tr:nth-child(2) {
    background-color: #4CAF50;
}

table tr:nth-child(3) {
    background-color: #FFEB3B;
}

table tr:nth-child(4) {
    background-color: #f44336;
}

table tr:nth-child(5) {
    background-color: #4db6ac;
}