table {
    border-collapse: collapse;
    margin: 20px;
    text-align: center;
    font-family: Sans-serif;
}

table th,
table td {
    border: 1px solid #00bfff;
    padding: 15px;
}

table th {
    background-color: #00ffff;
    color: black;
}

table td {
    background-color: #ffffff;
    color: black;
}
