body {
    display: flex;
    justify-content: center;
}

.parent {
    display: flex;
}

.parent div {
    height: 280px;
    width: 280px;
    border: 3px solid rgb(100, 29, 171);
    border-radius: 15px;
}

.black {
    background-color: hsl(210, 9%, 17%);
    position: relative;
    z-index: 0;
    top: 100px;
}

.blue {
    background-color: hsl(216, 98%, 54%);
    position: relative;
    z-index: 2;
    top: 185px;
    right: 200px;
}

.green {
    background-color: hsl(152, 63%, 34%);
    position: relative;
    z-index: 1;
    top: 250px;
    right: 420px;
}