/* 2)შექმენი ბლოკი (400x250) და:

სურათი იყოს მარცხენა ზედა კუთხეში

იყოს პატარა ზომის(მიეცით ზომა 100px)

ფოტო არ განმეორდეს */


body {
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    background-image: url("matli.png");
    height: 250px;
    width: 400px;
    border: 2px solid black;
    background-position: top left;
    background-size: 100px;
    background-repeat: no-repeat;
}
