/* 3)შექმენი section:

სურათის პოზოვია იყოს ქვედა მარჯვენა კუთხეში

განმეორდეს მხოლოდ x

ზომა იყოს 150px 150px */


body {
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    width: 100%;
    height: 100vh;
    background-image: url("redcat.png");
    background-position: bottom right;
    background-repeat: repeat-x;
    background-size: 150px 150px;
}