/* 11) გაქვს navigation bar:

logo
menu --> home, cottact , about us ...
button

გააკეთე ისე, რომ:

პატარა ეკრანზე menu შემცირდეს(შეიკუმშოს უფრო მეტად)
მაგრამ logo და button მაქსიმალურად შენარჩუნდეს საწყის ზომაზე */


nav {
    display: flex;
    flex-direction: row;
    gap: 350px;
    border: 4px dashed rgb(80, 56, 40);
    background-color: rgb(248, 235, 227);
}

.img img {
    height: 170px;
    margin: 30px;
    flex-shrink: 5;
}

.ul ul {
    display: flex;
    flex-direction: row;
    gap: 120px;
}

ul li {
    list-style: none;
    margin-top: 85px;
    font-size: 25px;
    font-weight: bold;
    color: rgb(80, 56, 40);
    flex-shrink: 5;
}

.button button {
    height: 40px;
    width: 80px;
    border-radius: 3px;
    margin-top: 95px;
    font-size: 15px;
    font-weight: 700;
    background-color: rgb(80, 56, 40);
    border: 3px dashed rgb(255, 255, 255);
    ;
    box-shadow: 2px 2px 10px rgb(116, 116, 116);
    color: rgb(255, 255, 255);
    flex-shrink: 0;
}
