/* 9) შექმენით მშობელი დივი, რომელშიც მოთავსებული 5 შვილი დივი ელემენტები განლაგდებიან ზემოდან ქვემოთ და განთავსდებიან
მშობელი დივის ქვედა ნაწილში, მშობელ დივს მიანიჭეთ შემდეგი კუთვნილებები: სიგანე 300px, სიმაღლე 400px, უკანა ფონის ფერი
წითელი და იასამნისფერი საზღვარი, ხოლო შვილ დივებს გაუწერეთ 40px დაშორება მათ კონტენტსა და საზღვარს შორის, და 40px
დაშორება მათ საზღვარსა და სხვა ელემენტებს შორის, ტექსტის ზომა 15px და უკანა ფონის ფერი ცისფერი. */

.parent {
    width: 300px;
    height: 400px;
    background-color: rgb(83, 15, 15);
    border: 3px solid rgb(170, 119, 197);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.child {
    padding: 40px;
    margin: 40px;
    font-size: 15px;
    background-color: rgb(107, 225, 225);
}