/* 8) შექმენით მშობელი დივი, რომელშიც მოთავსებული 5 შვილი დივი ელემენტები განლაგდებიან ქვემოდან ზემოთ და განთავსდება
მშობელი დივის შუაში, მშობელ დივს მიანიჭეთ შემდეგი კუთვნილებები: სიგანე 350px, სიმაღლე 300px, უკანა ფონის ფერი ვარდისფერი
და ლურჯი საზღვარი, ხოლო შვილ დივებს გაუწერეთ 30px დაშორება მათ კონტენტსა და საზღვარს შორის, და 30px დაშორება მათ
საზღვარსა და სხვა ელემენტებს შორის, ტექსტის ზომა 16px და უკანა ფონის ფერი იასამნისფერი. */

.parent {
    width: 350px;
    height: 600px;
    background-color: rgb(238, 165, 177);
    border: 20px solid rgb(21, 64, 143);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

.child {
    padding: 30px;
    margin: 30px;
    font-size: 16px;
    background-color: rgb(40, 16, 59);
}