/* 1) შექმენით მშობელი დივი, რომელშიც მოთავსებული 5 შვილი დივი ელემენტები ზედა ჰორიზონტალურ ხაზზე განლაგდება და შუაში
იქნება განთავსებული. მშობელ დივს გაუწერეთ 400px სიგანე და 200px სიმაღლე, უკანა ფონის ფერი ნაცრისფერი და შავი საზღვარი,
ხოლო შვილ ელემენტებს გაუწერეთ 10px დაშორება მათ კონტენტსა და საზღვარს შორის, და 5px დაშორება შვილი ელემენტების საზღვარსა
და სხვა ელემენტებს შორის, ტექსტის ზომა 16px და უკანა ფონის ფერი ლურჯი. */


.parent {
    width: 400px;
    height: 200px;
    background-color: rgb(144, 144, 144);
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.child {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    background-color: rgb(25, 53, 116);
}