/* 2) შექმენით მშობელი დივი, რომელშიც მოთავსებული 5 შვილი დივი ელემენტები x ღერზძე განლაგდებიან მარჯვნიდან მარცხნივ და
იდგებიან მშობელი დივის ქვედა კიდეზე. მშობელ დივს მიანიჭეთ შემდეგი კუთვნილებები: უკანა ფონის ფერი ყვითელი, სიგანე 500px
და სიმაღლე 250px, წითელი საზღვარი, ხოლო შვილ დივებს გაუწერეთ 15px დაშორება მათ კონტენტსა და საზღვარს შორის, და 10px
დაშორება მათ საზღვარსა და სხვა ელემენტებს შორის, ტექსტის ზომა 18px და უკანა ფონის ფერი მწვანე. */

.parent {
    background-color: rgb(238, 238, 130);
    width: 500px;
    height: 250px;
    border: 2px solid rgb(107, 20, 20);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.child {
    padding: 15px;
    margin: 10px;
    font-size: 18px;
    background-color: rgb(18, 74, 18);
}