/* 7) შექმენით მშობელი დივი, რომელშიც მოთავსებული 5 შვილი დივი ელემენტები განლაგდება ზემოდან ქვემოთ და განთავსდება მარცხენა
მხარეს, მშობელ ელემენტს მიანიჭეთ შემდეგი სტილები: სიგანე 300px, სიმაღლე 350px, უკანა ფონის ფერი ღია ლურჯი და შავი
საზღვარი, ხოლო შვილ დივებს გაუწერეთ 20px დაშორება მათ კონტენტსა და საზღვარს შორის, და 20px დაშორება მათ საზღვარსა და
სხვა ელემენტებს შორის, ტექსტის ზომა 14px და უკანა ფონის ფერი ნარინჯისფერი. */

.parent {
    width: 600px;
    height: 350px;
    background-color: rgb(141, 202, 222);
    border: 4px solid rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
}

.child {
    padding: 20px;
    margin: 20px;
    font-size: 14px;
    background-color: rgb(251, 175, 35);
}