/* 6) შექმენით მშობელი დივი, რომელშიც მოთავსებული 5 შვილი დივი ელემენტები x ღერძზე მარჯვნიდან მარცხნივ განლაგდებიან და
განთავსდებიან მშობელი დივის ცენტრში, მშობელ დივს მიანიჭეთ შემდეგი სტილები: სიგანე 450px, სიმაღლე 220px, უკანა ფონის ფერი
ღია ყვითელი და წითელი საზღვარი, ხოლო შვილ დივებს გაუწერეთ 13px დაშორება მათ კონტენტსა და საზღვარს შორის, და 40px
დაშორება მათ საზღვარსა და სხვა ელემენტებს შორის, ტექსტის ზომა 25px და უკანა ფონის ფერი მწვანე. */

.parent {
    width: 550px;
    height: 220px;
    background-color: rgb(237, 237, 103);
    border: 2px solid rgb(106, 8, 8);
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.child {
    padding: 13px;
    margin: 40px;
    font-size: 25px;
    background-color: rgb(38, 78, 38);
}