/* 1) შექმენით 5 პარაგრაფი,მიანიჭეთ შემდეგი სტილები ზომა 50px ,ბორდერი მწვანე ფერის,ფერი ყვითელი,განლაგება -- ცენტრში,
ასევე შექმენით 10 ღილაკი, გასტილეთ შემდეგნაირად სიმაღლე 60პხ სიგანე 100პხ ,ბექგრაუნდ ფერი წითელი , ტექსტის ფერი
ყვითელი,ბორდერი საერთოდ გაუქრეთ
გამოიყენეთ EXTERNAL CSS */

p {
    font-size: 50px;
    border: 2px solid rgb(4, 93, 4);
    color: rgb(243, 243, 0);
    text-align: center;
}

button {
    height: 60px;
    width: 100px;
    background-color: rgb(110, 11, 11);
    color: rgb(255, 255, 144);
    border: none;
}