/* 2) შექმენი ერთი div

ამ დივში შექმენით დაუნომრავი სია სადაც იქნება ჩამოთვლილი 5 ავტომობილის სახელი
შემდეგ ცალკე შექმენით ერთი ნავიგაციის მენიუ nav თეგი,ამ ნავიგაციის მენიუში შექმენით დაუნომრავი სია სადაც შეიყვანთ 5
ხილის სახელს.
შენი დავალებაა რომ იმ სიაში მყოფი ელემენტები რომელშიც არის ავტომობილის სახელები გასტილოთ შემდეგნაირად
ფერი წითელი, ზომა 35px,ბორდერი მწვანე ფერის,უკანა ფონის ფერი ლურჯი

====
და იმ სიაში მყოფი ელემენტები რომლებშიც წერია ხილის სახელები გასტილეთ შემდეგნაირად 
ფერი ყავისფერი , ზომა 50px , ბორდერი იასამნისფერი , უკანა ფონის ფერი ყვითელი */

div ul li {
    color: rgb(110, 11, 11);
    font-size: 35px;
    border: 3px solid rgb(11, 72, 11);
    background-color: rgb(14, 14, 95);
}

nav ul li {
    color: rgb(84, 44, 15);
    font-size: 50px;
    border: 3px solid rgb(98, 8, 98);
    background-color: rgb(255, 255, 113);
}