body {
    display: flex;
    justify-content: center;
    
}

/* .first {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.main {
    background-color: rgb(150, 75, 197);
    height: 120px;
    width: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.div1,
.div3 {
    width: 90px;
    height: 60px;
    background-color: rgb(255, 187, 0);
    border: 2px solid black;
    border-radius: 7px;
}

.div2 {
    width: 70px;
    height: 60px;
    background-color: rgb(255, 187, 0);
    border: 2px solid black;
    border-radius: 7px;
} 
