/* 17) გაქვს კონტეინერი (height: 300px).
შიგნით არის 3 div.

ყველა ელემენტი დალაგებულია align-items: center-ით
მაგრამ მეორე div უნდა გადავიდეს ზემოთ (container-ის დასაწყისში)

გამოიყენე მხოლოდ align-self */


body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.parent {
    width: 500px;
    height: 500px;
    background-color: black;
    display: flex;
    align-items: center;
    gap: 10px;
}

.parent div {
    width: 100px;
    height: 100px;
    background-color: antiquewhite;
}

.second {
    align-self: start;
}