/* 2) შექმენით 3 დივი,სამივე დივში მოათავსეთ თით თითო პარაგრაფები და ამ პარაგრაფებში მოათავსეთ i თეგებიც

თქვენი დავალებაა რომ გასტილოთ სამივე i თეგი განსხვავებულად, id ატრიბუტი მიეცით იმმ თეგს რასაც საჭიროდ ჩათვლით და როგორც
მოგაფიქრდებათ,შეგიძლიათ გამოიყენოთ style inheritance ც,მთავარია რომ პირობა დაკმაყოფილდეს და სამივე i თეგი იყოს
განსხვავებული ერთმანეთისგან,გამოიყენეტ ID ატრიბუტი */

#movie1 i {
    color: rgb(56, 36, 4);
    font-size: 15px;
    border: 3px dotted black;
    background-color: wheat;
    text-align: center;
}

#movie2 i {
    color: rgb(164, 230, 230);
    font-size: 20px;
    border: 4px solid rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    text-align: left;
}

#movie3 i {
    color: rgb(68, 107, 12);
    font-size: 25px;
    border: 5px solid black;
    background-color: rgb(227, 210, 178);
    text-align: center;

}