/* თქვენი გემოვნებთ მოიფიქრეთ 5 ჩრდილის მაგალითი განსვვავებული პოზიციით ბლარით და ფერებით */

#p1 {
    color: rgb(0, 255, 0);
    background-color: rgb(0, 0, 0);
    text-shadow: 3px 3px 2px rgb(186, 249, 152);
    font-size: 35px;
}

#p2 {
    color: rgb(75, 43, 12);
    background-color: rgb(255, 233, 206);
    text-shadow: 5px 3px 4px rgb(32, 25, 19);
    font-size: 35px;
}

#p3 {
    color: rgb(84, 20, 41);
    background-color: rgb(207, 121, 150);
    text-shadow: 1px 1px 2px rgb(141, 11, 52);
    font-size: 35px;
}

#p4 {
    color: rgb(0, 0, 0);
    background-color: rgb(0, 195, 255);
    text-shadow: 3px 3px 2px rgb(10, 58, 87);
    font-size: 35px;
}

#p5 {
    color: rgb(232, 193, 232);
    background-color: rgb(160, 108, 176);
    text-shadow: 4px 6px 7px rgb(79, 37, 79);
    font-size: 35px;
}