/* 4) ჩაწერე არეული ტექსტი:

hTmL aNd cSs ArE pOwErFuL


გააკეთე:

ერთი ვერსია uppercase

ერთი lowercase

ერთი capitalize */

#p1 {
    text-transform: uppercase;
}

#p2 {
    text-transform: lowercase;
}

#p3 {
    text-transform: capitalize;
}