/* შექმენით მსგავსი ჩრდილები ,მაქსიმალურად მიამგვანეთ ფოტოში მოცემულ ჩრდილებს */

#p1 {
    text-shadow: 2px 4px 3px rgb(15, 201, 28);
    font-size: 25px;
    font-weight: bold;
}

#p2 {
    text-shadow: 2px 2px 1px rgb(126, 70, 228);
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    color: rgb(247, 46, 89);
}

#p3 {
    text-shadow: 2px 2px 1px rgb(244, 106, 221);
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    color: rgb(126, 70, 228);
}

#p4 {
    text-shadow: -2px 2px 6px;
    text-transform: capitalize;
    font-size: 25px;
}

#p5 {
    background-color: #000000;
    text-shadow: 4px 4px 4px green;
    text-transform: capitalize;
    font-size: 25px;
    color: #FFFFFF;
}