/* 4) შექმენი ერთი დივი, შიგნით მოათავსეთ ერთი ფოტო. დივს გაუწერეთ შემდეგი სტილები: საზღვრის სისქე 3px solid და წითელი,
ფერი ლურჯი, უკანა ფონის ფერი იასამნისფერი. ფოტოს და ბორდერს შორის დაშორება იყოს ზემოდან 25px, მარჯვნიდან 60px, ქვემოდან
45px, და მარცხნიდან 89px. */

div {
    border: 3px solid rgb(87, 24, 24);
    color: rgb(15, 15, 77);
    background-color: rgb(52, 15, 70);
    padding: 25px 60px 45px 89px;
}