/* 2) შექმენი ერთი დივი და გაუწერე შემდეგი სტილები: საზღვრის სისქე 2px, solid და შავი, ფერი წითელი, უკანა ფონის ფერი ლურჯი,
სიმაღლე 300px სიგანე 300px, ოთხივე მხარეს ბორდერსა და კონტენტს შორის იყოს 100px დაშორება. */

div {
    border: 2px solid rgb(0, 0, 0);
    color: rgb(200, 48, 48);
    background-color: rgb(51, 51, 149);
    height: 300px;
    width: 300px;
    padding: 100px;
}