/* 5) შექმენი ერთი დივი, შიგნით მოათავსეთ ერთი ღილაკი, დივს გაუწერეთ შემდეგი სტილები: საზღვრის სისქე 6px, solid და ყვითელი,
უკანა ფონის ფერი ყავისფერი, სიმაღლე და სიგანეც 150px. ღილაკს და საზღვარს შორის დაშორება მხოლოდ ზემოდან იყოს 900px.
ღილაკს გაუწერეთ შემდეგი სტილები: დაშორება კონტენტსა და ბორდერს შორის იყოს მხოლოდ ქვემოდან 50px. */


div {
    border: 6px solid rgb(246, 246, 169);
    background-color: rgb(78, 44, 26);
    height: 150px;
    width: 150px;
    padding-top: 900px;
}

button {
    padding-bottom: 50px;
}