/* 3) შექმენი ერთი დივი, შიგნით მოათავსეთ ერთი ღილაკი და გაუწერე შემდეგი სტილები: საზღვრის სისქე 2px, solid და შავი,
მწვანე, უკანა ფონის ფერი ვარდისფერი, სიმაღლე 250px სიგანე 250px, კონტენტსა და ბორდერს შორის დაშორება იყოს მარჯვნიდან და
მარცხნიდან 150px და ზემოდან და ქვემოდან 200px. ღილაკს მიანიჭე შემდეგი სტილები: ბორდერსა და კონტენტს შორის ოთხივე
გვერდიდან დაშორება იყოს 20px. */

div {
    border: 2px solid rgb(0, 0, 0);
    color: rgb(111, 173, 111);
    background-color: rgb(232, 183, 191);
    height: 250px;
    width: 250px;
    padding: 200px 150px;
}


button {
    padding: 20px;
}