/* 8) შექმენით ერთი პარაგრაფი, შემდეგ ერთი ღილაკი და შემდეგ ერთი h1 სათაური. ღილაკს გაუწერეთ padding კუთვნილება ზემოდან და
ქვემოდან 60px, გვერდებიდან 40px, ასევე მიანიჭეთ ყველა მხარეს სხვა და სხვა ფერის საზღვრები. ასევე დააშორეთ ყველა თეგი
ოთხივე მხრიდან 148px-ით margin კუთვნილების გამოყენებით. */


button {
    padding: 60px 40px;
    border-top: 10px solid rgb(244, 192, 200);
    border-right: 10px solid rgb(158, 248, 248);
    border-bottom: 10px solid rgb(134, 69, 159);
    border-left: 10px solid rgb(255, 255, 144);
}

button,
p,
h1 {
    margin: 148px;
}