/* 1)შექმენი ღილაკი, რომელიც hover-ისას:

იზრდება 1.2-ჯერ.
ფონს იცვლის.
ტექსტის ფერს იცვლის.
ემატება box-shadow.
ყველა თვისებას განსხვავებული duration ჰქონდეს. */


body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 10px 20px;
    background-color: purple;
    color: rgb(255, 249, 239);
    border: 2px solid rgb(172, 107, 172);
    transition: background-color 2s ease, color 3s ease-in, box-shadow 1s ease-in-out, border 4s ease-out;
}

button:hover {
    transform: scale(1.2);
    background-color: rgb(0, 0, 0);
    color: rgb(42, 255, 255);
    box-shadow: 0 0 10px rgb(28, 236, 236);
    border: none;
}