#h1 {
    color: red;
    background-color: yellow;
    border: 3px solid black;
    font-size: 40px;
    text-align: center;
}

#h2 {
    color: blue;
    background-color: pink;
    border: 2px dashed green;
    font-size: 35px;
}

#h3 {
    color: green;
    background-color: lightgray;
    border: 4px solid purple;
    font-size: 30px;
    text-align: right;
}

#h4 {
    color: orange;
    background-color: lightblue;
    border: 2px dotted red;
    font-size: 25px;
}

#h5 {
    color: purple;
    background-color: beige;
    border: 3px solid blue;
    font-size: 20px;
}

#h6 {
    color: brown;
    background-color: lightgreen;
    border: 1px solid black;
    font-size: 16px;
}