#div1 {
    color: rgb(0, 241, 0);
    background-color: rgb(0, 0, 0);
    text-align: center;
    font-size: 25px;
    border: 4px solid black;
}

#div2 {
    color: rgb(143, 143, 143);
    background-color: rgb(111, 0, 0);
    text-align: right;
    font-size: 30px;
    border: 3px solid black;
}