/* 8) შექმენით დივი და ამ დივში შექმენით 5 პარაგრაფი, 5 ღილაკი და 5 სათაური. პარაგრაფები გასტილეთ კლასებით, ღილაკები
გასტილეთ style inheritance-ით და სათაურები გასტილეთ id-ებით. */

#h1 {
    color: rgb(210, 97, 97);
    background: rgb(218, 193, 197);
    border: 5px dashed rgb(144, 138, 128);
    font-size: 40px;
    text-align: center;
}

#h2 {
    color: rgb(191, 46, 46);
    background: lightpink;
    border: 3px dashed rgb(93, 88, 81);
    font-size: 35px;
    text-align: center;
}

#h3 {
    color: black;
    background: rgb(165, 73, 87);
    border: 6px dotted rgb(0, 255, 213);
    font-size: 25px;
    text-align: left;
}

#h4 {
    color: rgb(19, 140, 75);
    background: rgb(93, 198, 1);
    border: 5px dashed rgb(44, 186, 233);
    font-size: 15px;
    text-align: center;
}

#h5 {
    color: rgb(175, 39, 112);
    background: lightpink;
    border: 4px solid orange;
    font-size: 25px;
    text-align: right;
}


.p {
    color: black;
    background: lightpink;
    border: 3px dashed orange;
    font-size: 30px;
    text-align: left;
}

div button {
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    border: 2px dotted orange;
    font-size: 20px;
    text-align: center;
}