/* 6) შექმენით დივი რომლშიც მოათავსებთ 3 პარაგრაფს, 3 ღილაკს, პარაგრაფებს გაუწერეთ კლასები და მიანიჭეთ შემდეგი სტილები:
ფერი ვარდისფერი, ზომა 30px, ფონის ფერი ლურჯი, ყველა სათაური იდგეს ცენტრში და ზღვარის ფერი იყოს მწვანე, 4px და solid.
ღილაკებს მიანიჭეთ განსხვავებული სტილები, გამოიყენეთ style inheritance. */

.p {
    color: rgb(222, 140, 154);
    font-size: 30px;
    background-color: rgb(37, 37, 123);
    text-align: center;
    border: 4px solid rgb(41, 107, 41);
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
}

.button1 {
    background: red;
    color: white;
}

.button2 {
    background: black;
    color: yellow;
}

.button3 {
    background: purple;
    color: white;
}