/* 2) შექმენით ერთი დივი, რომლის შიგნით გექნებათ 3 სათაური და 3 პარაგრაფი. id-ის გამოყენებით მიანიჭეთ ყველა ნასწავლი
სტილები მხოლოდ სათაურებს. გამოიყენეთ style inheritance. */

/* #div {} */

#h1 {
    color: rgb(155, 21, 21);
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 20px;
    border: 3px solid rgb(42, 4, 4);
}

#h2 {
    color: rgb(17, 17, 140);
    background-color: rgb(192, 252, 255);
    text-align: left;
    font-size: 25px;
    border: 3px solid rgb(255, 255, 255);
}

#h3 {
    color: rgb(0, 241, 0);
    background-color: rgb(0, 0, 0);
    text-align: right;
    font-size: 30px;
    border: 3px solid black;
}