/* 7) შექმენით 1 პარაგრაფი და მიანიჭეთ 2 კლასი, მაგალითად: class = "p1 first". პირველ კლასს მიანიჭეთ ზომა და ფერი, ხოლო
მეორეს ფონის ფერი და ზღვარი. */

.p1 {
    font-size: 20px;
    color: rgb(29, 29, 80);
}

.p2 {
    background-color: rgb(135, 162, 170);
    border: 3px dashed rgb(53, 53, 72);
}