/* 1) შექმენით 10 პარაგრაფი, აქედან ყოველივე პარაგრაფს გაუწერეთ კლასები. პირველ 4 პარაგრაფს მიანიჭეთ ლურჯი ფერი, ზომა 25px,
ფონის ფერი წითელი და ზღვარის ფერი იყოს მწვანე, ზომით 4px და solid. შემდეგი 3 პარაგრაფს მიანიჭეთ ფერი მწვანე, ზომა 45px,
სამივე პარაგრაფი იდგეს ცენტრში, ფონის ფერი ჰქონდეთ ყვითელი და ზღვარის ფერი იყოს იასამნისფერი, 7px და solid. ბოლო 3
პარაგრაფს მიანიჭეთ ფერი ნარინჯისფერი, ზომა 14px, ფონის ფერი ლურჯი, სამივე პარაგრაფი იდგეს მარცხნივ და ზღვარის ფერი იყოს
ვარდისფერი, 2px და solid. */

.p1,
.p2,
.p3,
.p4 {
    color: rgb(27, 27, 108);
    font-size: 25px;
    background-color: rgb(106, 19, 19);
    border: 4px solid rgb(6, 95, 6);
}

.p5,
.p6,
.p7 {
    color: rgb(8, 77, 8);
    font-size: 45px;
    background-color: yellow;
    border: 7px solid rgb(161, 63, 161);
    text-align: center;
}

.p8,
.p9,
.p10 {
    color: orange;
    font-size: 14px;
    background-color: rgb(24, 24, 134);
    border: 2px solid pink;
    text-align: left;
}