/* 1) შექმენით ერთ დივი,მიეცით ზომები 500px 500px ,ბგადმოიწერეთ რაიმე ფოტო

დაამატეთ ფოტო ბექგრაუნდად ისე რომ --

ფოტო საერთოდ არ მეორდებდეს

იყოს ცენტრში

ზომაში იყოს 400px */


div {
    width: 500px;
    height: 500px;
    background: url("cats.png") no-repeat center / 400px;
}