/* 3) HTML-ში შექმენით <div>, id-ით, რომლის შიგნით არის:
ერთი სათაური
ერთი პარაგრაფი
CSS-ში:
id-ის გამოყენებით შეცვალეთ მხოლოდ შიგნით არსებული სათაურის ფერი, ისე რომ პარაგრაფს არ შეეხოს.
გამოიყენეთ style inheritance */

#amy h2 {
    color: rgb(255, 237, 222);
    background-color: rgb(58, 25, 9);
    font-size: 30px;
    border: 7px solid rgb(147, 84, 46);
    text-align: center;
}