/* ააწყვეთ მსგავსი დიზაინი,გამოიყენეთ positions და z index */

body {
    display: flex;
    justify-content: center;
}

.parent {
    display: flex;
}

.parent div {
    width: 300px;
    height: 300px;
}

.green {
    background-color: rgb(44, 143, 44);
    position: relative;
    top: 280px;
    right: 230px;
    z-index: 2;
}

.purple {
    background-color: rgb(69, 20, 122);
    position: relative;
    top: 120px;
    left: 230px;
    z-index: 1;
}

.red {
    background-color: rgb(178, 15, 15);
    position: relative;
    top: 200px;
    z-index: 0;
}