/* 3) მოცემულია -->
<!-- <div class="parent">
    <div class="child"></div>
</div>


დავალება:

parent → 300x300
child → 100x100 ლურჯი ფერის , განათავსე ქვედა მშობლის მარცხენა კუთხეში

მინიშნება:

ერთს უნდა ჰქონდეს relative
მეორეს absolute

თუ არ გამოვა შეგიძლიათ მოიძიოთ თუ როგორ ვამოძრაოთ position ის მქონე მშობელ ელემენტში შვილი ელემენტები */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border: 2px solid black;
    position: relative;
}

.child {
    width: 100px;
    height: 100px;
    background-color: rgb(30, 30, 203);
    position: absolute;
    top: 200px;
    right: 200px;
}