/* 1) შექმენით ერთი მშობელი ელემენტი ,მიეცით ზომები 700პხ 700პხ,მიეცით ბორდერი

შიგნით შექმენით 5 შვილი ელემენტი მიეცით ზომები 100პხ 100პხ და უკანა ფონის ფერი,ჩაწერეთ შიგნით რიცხვები 1 2 3 4 5

შენი დავალებაა-->
პირველ რიგში მთლიანი მშობელი ელემენტი ანუ ფერენთი გადმოიტანე body ის ცენტრში ორივე ღერძზე(ბოდის დაუწერეთ სიმაღლე 100vh)

შემდეგ ამ მშობელ ელემენტში მყოფი ელემენტებიც ანუ ჩაილდებიც გადმოიტანეთ ცენტრში ორივვე ღერძზე დააშორე ერთმანეთს 10px ით

პირველ მესამე და მეხუთე დივს გაუწერეთ id ები

პირველი დივი --> უნდა დაიკავოს დარჩენილი ადგილი

მესამე დივი --> მიანჭეთ ახალი სიგანე 200px

მეხუთე დივი --> საიტის დაპატარავებასთან ერთად უფრო მეტად უნდაშეიკუმშოს ვიდრეს სხვა დანარჩენი ელემენტები */


body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.parent {
    width: 700px;
    height: 700px;
    border: 3px solid rgb(26, 53, 70);
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 238, 226);
}

.parent div {
    height: 100px;
    width: 100px;
    background-color: rgb(62, 179, 179);
}

#div1 {
    flex-grow: 1;
}

#div3 {
    flex-basis: 200px;
}

#div5 {
    flex-shrink: 3;
}